<!DOCTYPE html>
<html>
	<head>
		<title>数据统计</title>
		<meta charset="UTF-8">
		<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
		<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection" />
		<meta http-equiv="Cache-Control" content="no-transform " />
		
		<link rel="stylesheet" href="./js/layui/css/layui.css" media="all">
		<!-- 加载页面css -->
		<link rel="stylesheet" href="./css/index.css">
		
		<script type="text/javascript" src="./js/layui/layui.js"></script> 
		<script type="text/javascript" src="./js/echarts/echarts.min.js"></script>
		<script type="text/javascript" src="./js/echarts/china.js"></script>
		
		<script type="text/javascript" src="./js/jquery-1.8.3.js"></script>
		
		<script type="text/javascript" src="./js/datashow/js/jquery.js"></script>
		<!--公共js-->
		<script type="text/javascript" src="./js/common.js"></script>
		<!--时间-->
		<script type="text/javascript" src="./js/time.js"></script>
		<script type="text/javascript" src="./js/datashow/shenzhen.json"></script>
		<script type="text/javascript" src="./js/count/datamap2.js"></script>
		
		<style>
			html,.tj-bj-main {
				padding: 0;
				margin: 0;
				width: 100%;
				height: 788px;
				background: url(img/bj.png) no-repeat center top;
				background-size: 100% 100%;
			}
		</style>
		<script>
			/**
			 *  加载
			 */
			$(function(){
				//显示实时时间
				setInterval("showLocale(time)",1);
			}); 
		</script>
	</head>
	<body class="tj-bj-main">
	<div class="wenhua-main">
		<div class="layui-row">
		<!--首页-->
		<div class="top-icon">
			<a href="index.html"><i class="layui-icon layui-icon-home"></i></a>
		</div>
    	<!--内容标题-->
	    <div class="layui-col-md12 title-main">
	    	<div class="layui-titles layui-title-back">
		  		<h1>全市公共文体设施分布情况</h1>
		  		<div></div>
		  	</div> 
	    </div>
	    <!--时间-->
	    <div class="time-main">
	    	<div class="layui-dates">
		  		<p><span id="localtime"><i class='layui-icon layui-icon-log'></i><span id="time"></span></span></font></p>
		  	</div>
	    </div>
    </div>
    <!--标题下方图片-->
    <div class="layui-row">
	    <div class="layui-col-md12">
		  		<div class="layui-imgs-title">
		  			<img class="title-img1" src="../../../assets/images/title01.gif">
		  			<img src="../../../assets/images/title02.png" width="100%" height="10">
		  		</div>
	    </div>
    </div>
	<div class="layui-row map-main">
		<div class="bj"></div>
	    <div class="layui-col-md11 map-content info-map-content">
	      	<!-- 深圳地图 -->
	    	<div id="map-wrap"></div> 
	    </div>
	    <div class="content-mains">
		    <!--详细信息-->
		    <div class="layui-col-md4 infos-main">
		    	<div class="layui-col-md12">
		    		<fieldset class="layui-elem-field site-demo-button">
					  	<legend><span class="infos-title" id="infos-contents-titles">宝安区老战士纪念馆</span></legend>
					  	<div class="infos-contents-main">
					  		<div class="layui-form layui-contents">
								<div class="layui-inline content-left layui-col-md4">占地面积：</div>
								<div class="layui-inline layui-col-md8">约3.7万平方米</div>
							</div>
							<div class="layui-form layui-contents">
								<div class="layui-inline content-left layui-col-md4">建筑面积：</div>
								<div class="layui-inline layui-col-md8">1.8万平方米</div>
							</div>
							<div class="layui-form layui-contents">
								<div class="layui-inline content-left layui-col-md4">场次：</div>
								<div class="layui-inline layui-col-md8">100场</div>
							</div>
							<div class="layui-form layui-contents">
								<div class="layui-inline content-left layui-col-md4">参加人次：</div>
								<div class="layui-inline layui-col-md8">100万/人次</div>
							</div>
							<div class="layui-form layui-contents">
								<div class="layui-inline content-left layui-col-md4">活动：</div>
								<div class="layui-inline layui-col-md8">古代深圳展、近代深圳展、深圳民俗展、海洋生物展、野生动物展</div>
							</div>
					  	</div>
					</fieldset>
		    	</div>
		    </div>
	    </div>
	</div>
	</div>
	</body>
</html>
