<style>
    /* 左树 */
    #organizationTreeBar {
        padding: 10px 15px;
        border: 1px solid #e6e6e6;
        background-color: #f2f2f2;
    }

    #organizationTree3 {
        border: 1px solid #e6e6e6;
        border-top: none;
        padding: 10px 5px;
        overflow: auto;
        height: -webkit-calc(100vh - 263px);
        height: -moz-calc(100vh - 263px);
        height: calc(100vh - 263px);
    }

    .layui-tree-entry .layui-tree-txt {
        padding: 0 5px;
        border: 1px transparent solid;
        text-decoration: none !important;
    }

    .layui-tree-entry.ew-tree-click .layui-tree-txt {
        background-color: #fff3e0;
        border: 1px #FFE6B0 solid;
    }

    /* 右表搜索表单 */
    #organizationUserTbSearchForm .layui-form-label {
        box-sizing: border-box !important;
        width: 90px !important;
    }

    #organizationUserTbSearchForm .layui-input-block {
        margin-left: 90px !important;
    }
</style>
<!-- 正文开始 -->
<div class="layui-fluid" style="padding-bottom: 0;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">

                    <div id="organizationTree3"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">
                    <!-- 数据表格 -->
                    <table id="organizationUserTable3" lay-filter="organizationUserTable3"></table>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">
                    <!-- 数据表格 -->
                    <div id="main" style="height:200px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 表格工具列 -->
<script type="text/html" id="organizationUserTbToolBar3">
    <!-- <button lay-event="add" class="layui-btn layui-btn-sm icon-btn">
        <i class="layui-icon">&#xe654;</i>添加
    </button>&nbsp; -->

    <div class="dropdown-menu">
        <button class="layui-btn layui-btn-sm layui-btn-warm icon-btn">
            <i class="layui-icon">&#xe615;</i>搜索
        </button>
        <div class="dropdown-menu-nav dropdown-bottom-right"
             style="width: 300px;padding: 15px 15px 0 0;">
            <div class="dropdown-anchor"></div>
            <div class="layui-form" id="organizationUserTbSearchForm">
                <div class="layui-form-item">

                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证号:</label>
                        <div class="layui-input-block">
                            <input name="idCard" class="layui-input" placeholder="输入用户名"/>
                        </div>
                    </div>
                    <div class="layui-form-item text-right">
                        <button class="layui-btn icon-btn" lay-filter="organizationUserTbSearch" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- 表单弹窗 -->


<!-- js部分 -->
<script type="text/javascript" src="assets/libs/echarts/echarts.min.js?v=319"></script>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'tree', 'dropdown', 'xmSelect', 'treeTable'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var tree = layui.tree;
        var xmSelect = layui.xmSelect;
        var setter = layui.setter;
        var selObj, treeData;  // 左树选中数据

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));


        /* 渲染树形 */
        function renderTree() {
            $.ajax
            ({
                url: setter.baseServer + 'region/est/city/list',
                type: 'post',
                headers: {"token": layui.data(layui.setter.tableName)['token']},
                success: function (res) {
                    if (res && res.data) {
                        res.data.forEach(function (item) {
                            item.title = item.cityName;
                            item.id = item.patentId;
                            item.cityId = item.patentId;
                            item.disId = null;
                            item.towId = null;
                            item.resettlementPointId = null;
                            item.spread = false;
                            // 第二级
                            if (item.children && item.children.length) {
                                item.children.forEach(function (itemTwo) {
                                    itemTwo.title = itemTwo.cityName;
                                    itemTwo.cityId = itemTwo.patentId;
                                    itemTwo.disId = itemTwo.cId;
                                    itemTwo.towId = null;
                                    itemTwo.resettlementPointId = null;
                                    itemTwo.id = itemTwo.cId;
                                    itemTwo.spread = false;
                                    // 第三级
                                    if (itemTwo.children && itemTwo.children.length) {
                                        itemTwo.children.forEach(function (itemThree) {
                                            itemThree.title = itemThree.cityName;
                                            itemThree.cityId = itemTwo.patentId;
                                            itemThree.disId = itemTwo.cId;
                                            itemThree.towId = itemThree.cId;
                                            itemThree.resettlementPointId = null;
                                            itemThree.id = itemThree.cId;
                                            itemThree.spread = false;
                                            // 第四级
                                            if (itemThree.children && itemThree.children.length) {
                                                itemThree.children.forEach(function (itemFour) {
                                                    itemFour.title = itemFour.resettlementPoint;
                                                    itemFour.id = itemFour.rId;
                                                    itemFour.cityId = itemTwo.patentId;
                                                    itemFour.disId = itemTwo.cId;
                                                    itemFour.towId = itemThree.id;
                                                    itemFour.resettlementPointId = itemFour.rid;
                                                    itemFour.spread = false;
                                                })
                                            }
                                        })
                                    }
                                })


                            }
                        })
                    }
                    //treeData = layui.treeTable.pidToChildren(res.data, 'organizationId', 'parentId');

                    treeData = res.data ? res.data : []
                    tree.render({
                        elem: '#organizationTree3',
                        onlyIconControl: true,
                        data: treeData,
                        click: function (obj) {
                            selObj = obj;
                            var thisObj = obj.data

                            $('#organizationTree3').find('.ew-tree-click').removeClass('ew-tree-click');
                            $(obj.elem).children('.layui-tree-entry').addClass('ew-tree-click');
                            var setObj = new Object();
                            setObj = {
                                "cityId": thisObj.cityId,
                                "disId": thisObj.disId,
                                "resettlementPointId": thisObj.resettlementPointId,
                                "towId": thisObj.towId
                            }
                            insTb.reload({
                                method: 'post',
                                where: setObj,
                                contentType: 'application/json',
                                url: setter.baseServer + 'api/est/person/compete/tree',
                                headers: {"token": layui.data(layui.setter.tableName)['token']},
                            });

                            admin.req('api/est/person/compete/bar', JSON.stringify(setObj), function(resp){

                                // 绘制图表
                                myChart.setOption({
                                    title: {
                                        text: thisObj.title + '人员完成度'
                                    },
                                    tooltip: {},
                                    xAxis: {
                                        data: /*['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']*/resp.data.names
                                    },
                                    yAxis: {
                                        type: 'value',
                                        max: '100',
                                        data: ['20', '40', '60', '80', '100'],
                                        axisLabel: {
                                            formatter: '{value}%'
                                        }
                                    },
                                    series: [{
                                        name: '销量',
                                        type: 'bar',
                                        data: /*[5, 20, 36, 10, 10, 20]*/resp.data.values,
                                        showBackground: true,
                                        label: {
                                            show: true,
                                            formatter: '{c}%'
                                        },
                                        backgroundStyle: {
                                            color: 'rgba(220, 220, 220, 0.8)'
                                        },
                                        itemStyle: {
                                            normal: {
                                                color: function(params){
                                                    var colorList = ['#C1232B','#B5C334','#FCCE10','#E87C25','#27727B']
                                                    return colorList[params.dataIndex];
                                                }
                                            }
                                        }
                                    }]
                                });
                            }, 'post', {contentType: "application/json;charset=UTF-8"})
                        }
                    });
                    $('#organizationTree3').find('.layui-tree-entry:first>.layui-tree-main>.layui-tree-txt').trigger('click');
                }
            });
        }

        renderTree();
        // /* 渲染表格 */
        var insTb = table.render({
            elem: '#organizationUserTable3',
            data: [],
            height: 'full-400',
            page: true,
            toolbar: '#organizationUserTbToolBar3',
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox', rowspan: 2},
                {type: 'numbers', rowspan: 2},
                {field: 'district', title: '区县', align: 'center', width: 150, rowspan: 2},
                {field: 'township', title: '乡镇', align: 'center', width: 150, rowspan: 2},
                {field: 'name', title: '人员姓名', align: 'center', width: 150, rowspan: 2},
                {title: '所有信息完成度', align: 'center', width: 150, colspan: 4}
            ], [
                {field: 'personCompete', title: '人员信息', align: 'center', width: 150},
                {field: 'careerCompete', title: '就业创业', align: 'center', width: 150},
                {field: 'enjoyCompete', title: '已享受帮扶', align: 'center', width: 150},
                {field: 'industCompete', title: '产业发展', align: 'center', width: 150},
            ]],
            done: function () {
                // 表格搜索
                form.on('submit(organizationUserTbSearch)', function (data) {
                    insTb.reload({where: data.field, page: {curr: 1}});
                    return false;
                });
            }
        });

    });
</script>