<style>


    /* 左树 */
    #organizationTreeBar {
        padding: 10px 15px;
        border: 1px solid #e6e6e6;
        background-color: #f2f2f2;
    }

    #organizationTree {
        border: 1px solid #e6e6e6;
        border-top: none;
        padding: 10px 5px;
        overflow: auto;
        height: -webkit-calc(100vh - 263px);
        height: -moz-calc(100vh - 263px);
        height: calc(100vh - 263px);
    }


</style>
<!-- 正文开始 -->
<div class="layui-fluid" style="padding-bottom: 0;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">
                    <!-- 树工具栏 -->
                    <div class="layui-form toolbar" id="organizationTreeBar">
                        <button id="organizationAddBtn" class="layui-btn layui-btn-sm icon-btn">
                            <i class="layui-icon">&#xe654;</i>添加
                        </button>&nbsp;
                        <button id="organizationDelBtn"
                                class="layui-btn layui-btn-sm layui-btn-danger icon-btn">
                            <i class="layui-icon">&#xe640;</i>删除
                        </button>
                    </div>
                    <!-- 左树 -->
                    <div id="organizationTree"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 10px;">
                    <!-- 数据表格 -->
                    <form class="layui-form" lay-filter="tree-form" id="organizationUserTbSearchForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">上级机构</label>
                            <div class="layui-input-block">
                                <div id="organizationEditParentSel1" class="ew-xmselect-tree"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">机构名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" id="name"  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                                <input type="hidden" name="level" id="level">
                                <input type="hidden" name="current" id="current">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="submit">保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表单弹窗1 -->
<script type="text/html" id="organizationEditDialog">
    <form id="organizationEditForm" lay-filter="organizationEditForm" class="layui-form model-form"
          style="padding-right: 20px;">
        <input name="organizationId" type="hidden"/>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">上级机构:</label>
                    <div class="layui-input-block">
                        <div id="organizationEditParentSel" class="ew-xmselect-tree"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label layui-form-required">机构名称:</label>
                    <div class="layui-input-block">
                        <input name="organizationName" placeholder="请输入机构名称" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item text-right">
                <button class="layui-btn" lay-filter="organizationEditSubmit" lay-submit>保存</button>
                <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            </div>
        </div>
    </form>
</script>
<!-- 表格操作列 -->
<script type="text/html" id="organizationUserTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'tree', 'dropdown', 'xmSelect', 'treeTable', 'tree'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var tree = layui.tree;
        var xmSelect = layui.xmSelect;
        var selObj, treeData;  // 左树选中数据
        var treeNodeParam = {}//已选节点
        var setter = layui.setter;
        var insXmSel1;

        /* 渲染树形 */
        function renderTree() {
            $.ajax({
                url: setter.baseServer + 'region/est/city/list',
                type: 'post',
                headers: {"token": layui.data(layui.setter.tableName)['token']},
                success: function (res) {
                    if (res && res.data) {
                        res.data.forEach(function (item) {
                            item.title = item.cityName;
                            item.id = item.partentId;
                            item.spread = true;
                            item.value = item.patentId;
                            item.parentId = item.patentId;
                            item.name = item.cityName;
                            item.level = 1;
                            // 第二级
                            if (item.children && item.children.length) {
                                item.children.forEach(function (itemTwo) {
                                    itemTwo.title = itemTwo.cityName;
                                    itemTwo.id = itemTwo.cId;
                                    itemTwo.spread = true;
                                    itemTwo.value = itemTwo.cId;
                                    itemTwo.name = itemTwo.cityName;
                                    itemTwo.parentId = itemTwo.patentId;
                                    itemTwo.level = 2;
                                    // 第三级
                                    if (itemTwo.children && itemTwo.children.length) {
                                        itemTwo.children.forEach(function (itemThree) {
                                            itemThree.title = itemThree.cityName;
                                            itemThree.id = itemThree.cId;
                                            itemThree.spread = true;
                                            itemThree.value = itemThree.cId;
                                            itemThree.name = itemThree.cityName;
                                            itemThree.parentId = itemThree.patentId;
                                            itemThree.level = 3;
                                            // 第四级
                                            if (itemThree.children && itemThree.children.length) {
                                                itemThree.children.forEach(function (itemFour) {
                                                    itemFour.title = itemFour.resettlementPoint;
                                                    itemFour.spread = true;
                                                    itemFour.value = itemFour.id;
                                                    itemFour.name = itemFour.resettlementPoint;
                                                    itemFour.level = 4;
                                                })
                                            }
                                        })
                                    }
                                })


                            }
                        })
                    }
                    //treeData = layui.treeTable.pidToChildren(res.data, 'organizationId', 'parentId');
                    treeData = res.data ? res.data : []
                    tree.render({
                        elem: '#organizationTree',
                        onlyIconControl: true,
                        data: treeData,
                        showCheckbox: true,
                        oncheck: function(obj){
                            console.log(obj.data); //得到当前点击的节点数据
                            console.log(obj.checked); //得到当前节点的展开状态：open、close、normal
                            console.log(obj.elem); //得到当前节点元素
                        },
                        click: function (obj) {
                            selObj = obj;
                            treeNodeParam = obj.data
                            $('#organizationTree').find('.ew-tree-click').removeClass('ew-tree-click');
                            $(obj.elem).children('.layui-tree-entry').addClass('ew-tree-click');
                            var selectedId = '1';
                            var name = treeNodeParam.name
                            selectedId = treeNodeParam.parentId;

                            //初始化树
                            //渲染下拉树
                            insXmSel1 = xmSelect.render({
                                el: '#organizationEditParentSel1',
                                height: '250px',
                                data() {
                                    return JSON.parse(JSON.stringify(treeData))
                                },
                                model: {label: {type: 'text'}},
                                radio: true,
                                clickClose: true,
                                tree: {
                                    show: true,
                                    indent: 15,
                                    strict: false,
                                    expandedKeys: true
                                },
                                on: function (data) {
                                    // 已选节点
                                    treeNodeParam = data.change[0];
                                }
                            });
                            insXmSel1.setValue([selectedId])
                            $("#name").val(name)
                            $("#level").val(treeNodeParam.level)
                            $("#current").val(treeNodeParam.id)
                        }
                    });
                    $('#organizationTree').find('.layui-tree-entry:first>.layui-tree-main>.layui-tree-txt').trigger('click');
                }
            });
        }

        renderTree();

        /* 添加 */
        $('#organizationAddBtn').click(function () {
            showEditModel(null, selObj ? selObj.data.parentId : null);
        });

        /* 修改 */
        $('#organizationEditBtn').click(function () {
            if (!selObj) return layer.msg('未选择机构', {icon: 2});
            showEditModel(selObj.data);
        });

        /* 删除 */
        $('#organizationDelBtn').click(function () {
            if (!selObj) return layer.msg('未选择机构', {icon: 2});
            doDel(selObj);
        });

        form.on('submit(submit)', function(data){
            var v = insXmSel1.getValue();
            var params = {};
            var level = $("#level").val();
            var current = $("#current").val();
            if(level == 1){
                params.id = data.field.select;
                params.ciId = data.field.select;
            } else if(level == 2){
                params.ciId = data.field.select;
                params.id = current;
                params.name = data.field.name;
            } else if(level == 3){
                params.dId = data.field.select;
                params.id = current;
                params.name = data.field.name;
            } else if(level == 4){
                params.tId = data.field.select;
                params.id = current;
                params.name = data.field.name;
            }

            var loadIndex = layer.load(2);
            admin.req('region/est/city/update', params, function(res){
                layer.close(loadIndex);
                if (0 == res.code) {
                    layer.msg(res.msg, {icon: 1});
                    renderTree();
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'post')
            return false;
        })

        /* 显示表单弹窗 */
        function showEditModel(mData, pid) {

            admin.open({
                type: 1,
                area: '600px',
                title: (mData ? '修改' : '添加') + '机构',
                content: $('#organizationEditDialog').html(),
                success: function (layero, dIndex) {
                    // 回显表单数据
                    form.val('organizationEditForm', mData);
                    // 表单提交事件
                    form.on('submit(organizationEditSubmit)', function (data) {

                        data.field.parentId = insXmSel.getValue('valueStr');
                        var loadIndex = layer.load(2);
                        var setObj = {};
                        if (!treeNodeParam.cId) {
                            setObj.ciId = treeNodeParam.id;
                        }
                        if (treeNodeParam.children.length == 0) {
                            setObj.tId = treeNodeParam.cId;
                        }
                        if (treeNodeParam.children.length != 0 && treeNodeParam.cId) {
                            setObj.dId = treeNodeParam.cId;
                        }
                        setObj.name = data.field.organizationName;
                        if (!mData) {

                            //选中城市节点
                            if(!treeNodeParam.rid && !treeNodeParam.cId){
                                setObj.cid = treeNodeParam.id
                            }

                            //区
                            if(treeNodeParam.patentId.length == 1 && treeNodeParam.title != '铜川市'){
                                setObj.did = treeNodeParam.id;
                            }

                            //镇
                            if(treeNodeParam.patentId.length > 1){
                                setObj.tid = treeNodeParam.id;
                            }

                            $.ajax({
                                url: setter.baseServer + 'region/est/city/save',
                                type: 'POST',
                                data: {"ciId": setObj.cid, "tId": setObj.tid, "dId": setObj.did, "name": setObj.name},

                                success: function (res) {
                                    layer.close(loadIndex);

                                    if (0 == res.code) {
                                        layer.close(dIndex);
                                        layer.msg(res.msg, {icon: 1});
                                        renderTree();
                                    } else {
                                        layer.msg(res.msg, {icon: 2});
                                    }
                                }
                            })
                        }
                        return false;
                    });
                    // 拷贝树数据
                    var thisData = JSON.parse(JSON.stringify(treeData))
                    thisData.forEach(function (item) {
                        if (item.children && item.children.length) {
                            item.children.forEach(function (items) {
                                if (items.children && items.children.length) {
                                    items.children.forEach(function (itemT) {
                                        if (itemT.children && itemT.children.length) {
                                            itemT.children = []
                                        }
                                    })
                                }
                            })
                        }
                    })
                    // 渲染下拉树
                    var insXmSel = xmSelect.render({
                        el: '#organizationEditParentSel',
                        height: '250px',
                        data() {
                            return thisData
                        },
                        model: {label: {type: 'text'}},
                        radio: true,
                        clickClose: true,
                        tree: {
                            show: true,
                            indent: 15,
                            strict: false,
                            expandedKeys: true
                        },
                        on: function (data) {
                            // 已选节点
                            treeNodeParam = data.change[0];
                        }
                    });
                    // 禁止弹窗出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }
            });
        }

        /* 删除 */
        function doDel(obj) {
            layer.confirm('确定要删除此机构吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                var setObj = {};

                //选中城市节点
                if(!treeNodeParam.rid && !treeNodeParam.cId){
                    layer.msg("不能删除城市节点", {icon: 3});
                    return false;
                }

                //安置点
                if(treeNodeParam.rid){
                    setObj.rid = treeNodeParam.rid
                } else if(treeNodeParam.patentId.length == 1 && treeNodeParam.title != '铜川市'){ //区
                    setObj.did = treeNodeParam.id;
                } else if(treeNodeParam.patentId.length > 1){ //镇
                    setObj.tid = treeNodeParam.id;
                }

                layer.close(i);
                var loadIndex = layer.load(2);
                admin.req('region/est/city/delete', {"tId": setObj.tid, "dId": setObj.did, "rId": setObj.rid}, function (res) {
                    layer.close(loadIndex);
                    if (0 === res.code) {
                        layer.msg(res.msg, {icon: 1});
                        renderTree();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'post');
            });
        }

    });
</script>