<style>
    [lay-filter="formStepsStep"] .layui-form-item {
        margin-bottom: 25px;
    }
    .layui-form-label,.layui-input-block{
        float: left;
        width:85%;

    }
    .layui-form-label{
        text-align: left;
        /* background-color: aqua; */
    }
    .layui-input-block{
        margin:5px 15px;
        /* background-color: #52C41A; */
    }
</style>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding-top: 40px;">
            <!-- 分布表单开始 -->
            <div class="layui-tab layui-steps layui-steps-readonly" lay-filter="formStepsStep"
                 style="max-width: 1000px;">
                <!-- 标题 -->
                <ul class="layui-tab-title">
                    <li class="layui-this">
                        <i class="layui-icon layui-icon-ok">1</i>
                        <span class="layui-steps-title">第一步</span>
                        <span class="layui-steps-content">人员基本情况</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">2</i>
                        <span class="layui-steps-title">第二步</span>
                        <span class="layui-steps-content">就业创业政策保障</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">3</i>
                        <span class="layui-steps-title">第三步</span>
                        <span class="layui-steps-content">产业发展政策保障</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">4</i>
                        <span class="layui-steps-title">第四步</span>
                        <span class="layui-steps-content">已享受帮扶政策</span>
                    </li>
                    <li>
                        <i class="layui-icon layui-icon-ok">5</i>
                        <span class="layui-steps-title">第五步</span>
                        <span class="layui-steps-content">添加成功</span>
                    </li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <!-- 表单一 -->
                        <form class="layui-form" lay-filter="formStepForm1">
                            <div class="layui-col-md4 layui-col-lg4">
                              
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">地址</label>
                                        <div class="layui-input-inline">
                                           <select id="roleId" lay-filter="roleId" lay-verify="required" lay-search="" >
                                              <option value="">请选择区县</option>
                                           </select>
                                        </div>
                                        <div class="layui-input-inline">
                                           <select id="account" lay-filter="account" lay-verify="account" lay-search="" >
                                              <option value="">请选择乡镇</option>
                                           </select>
                                        </div>
                                        <div class="layui-input-inline">
                                           <select id="resettlementPoint" lay-filter="resettlementPoint" lay-verify="required" lay-search="">
                                              <option value="">请选择安置点</option>
                                           </select>
                                        </div>
                                </div>
                            </div>
                           
                            <div class="layui-col-md4 layui-col-lg4">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label layui-form-required">户主:</label>
                                <div class="layui-input-block">
                                    <input name="trueName" placeholder="请输入" value="Alex" class="layui-input"
                                           lay-verType="tips" lay-verify="required" required/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md4 layui-col-lg4">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">搬迁人员姓名:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md4layui-col-lg4">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">是否户主:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">户主身份证号:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">与户主关系:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="户主">户主</option>
                                        <option value="配偶">配偶</option>
                                        <option value="之子">之子</option>
                                        <option value="之女">之女</option>
                                        <option value="之儿媳">之儿媳</option>
                                        <option value="之女婿">之女婿</option>
                                        <option value="之孙子">之孙子</option>
                                        <option value="之孙女">之孙女</option>
                                        <option value="之外孙子">之外孙子</option>
                                        <option value="之外孙女">之外孙女</option>
                                        <option value="之父">之父</option>
                                        <option value="之母">之母</option>
                                        <option value="之岳父">之岳父</option>
                                        <option value="之岳母">之岳母</option>
                                        <option value="之公公">之公公</option>
                                        <option value="之婆婆">之婆婆</option>
                                        <option value="之祖父">之祖父</option>
                                        <option value="之祖母">之祖母</option>
                                        <option value="之外祖父">之外祖父</option>
                                        <option value="之外祖母">之外祖母</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">家庭人口:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">是否劳动力:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                       
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">劳动力人口:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">迁出地:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">迁入地:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">安置方式:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="集中安置">集中安置</option>
                                        <option value="分散安置">分散安置</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">是否脱贫:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">脱贫时间:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">房屋面积:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input"
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">是否实际入住:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                       
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">目前具体地址:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">是否拆旧复垦:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="是">是</option>
                                        <option value="否">否</option>
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">文化程度:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="小学">小学</option>
                                        <option value="初中">初中</option>
                                        <option value="高中">高中</option>
                                        <option value="大专">大专</option>
                                        <option value="本科及以上">本科及以上</option>
                                        <option value="文盲或半文盲">文盲或半文盲</option>
                                        
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">健康状况:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="健康">健康</option>
                                        <option value="残疾">残疾</option>
                                        <option value="长期慢性病">长期慢性病</option>
                                        <option value="患有大病">患有大病</option>
                                        <option value="残疾、长期慢性病">残疾、长期慢性病</option>
                                        <option value="残疾、患有大病">残疾、患有大病</option>
                                        
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg3">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">劳动技能:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="技能劳动力">技能劳动力</option>
                                        <option value="普通劳动力">普通劳动力</option>
                                        <option value="弱劳动力或半劳动力">弱劳动力或半劳动力</option>
                                        <option value="丧失劳动力">丧失劳动力</option>
                                        <option value="无劳动力">无劳动力</option>
                                      
                                        
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">致贫原因:</label>
                                <div class="layui-input-block">
                                    <select name="roleId" lay-verType="tips" lay-verify="required">
                                        <option value="">请选择</option>
                                        <option value="交通条件落后">交通条件落后</option>
                                        <option value="缺技术">缺技术</option>
                                        <option value="缺劳动力">缺劳动力</option>
                                        <option value="缺土地">缺土地</option>
                                        <option value="缺资金">缺资金</option>
                                        <option value="因病">因病</option>
                                        <option value="因残">因残</option>
                                        <option value="因学">因学</option>
                                        <option value="因灾">因灾</option>
                                        <option value="自身发展动力不足">自身发展动力不足</option>
                                        
                                       
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">人均纯收入:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg2">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">联系方式:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md2 layui-col-lg8">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">备注（新增或死亡人员）:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-filter="formStepSubmit1" lay-submit>&emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="layui-tab-item">
                        <!-- 表单二 -->
                        <form class="layui-form" style="max-width: 460px;margin: 0 auto;padding: 40px 30px 0 0;">
                            <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">务工省外转移:</label>
                                <div class="layui-input-block">
                                    <input name="account" value="test@example.com" placeholder="请输入"
                                           class="layui-input" lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                            </div>
                            <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">务工县外省内转移:</label>
                                <div class="layui-input-block">
                                    <input name="account" value="test@example.com" placeholder="请输入"
                                           class="layui-input" lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label layui-form-text">务工县内转移:</label>
                                <div class="layui-input-block">
                                    <input name="trueName" placeholder="请输入" value="Alex" class="layui-input"
                                           lay-verType="tips" lay-verify="text" text/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">社区工厂吸纳及就业扶贫基地带动:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">公益岗位:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">自主创业:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">农业就业:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">预计年收入:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">未就业原因:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">就业培训时间:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">就业培训内容:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">职业培训时间:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">职业培训内容:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-text">创业培训时间:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="text" text>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6 layui-col-lg6">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">创业培训内容:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                        </div>
                      
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary" data-steps="prev"> 上 一 步&nbsp;
                                    </button>
                                    <button class="layui-btn" lay-filter="formStepSubmit2" lay-submit>&emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <!-- 表单三 -->
                        <form class="layui-form" style="max-width: 460px;margin: 0 auto;padding: 40px 30px 0 0;">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">自主发展产业类别及规模:</label>
                                <div class="layui-input-block">
                                    <input name="account" value="test@example.com" placeholder="请输入"
                                           class="layui-input" lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">自主发展预计年增收:</label>
                                <div class="layui-input-block">
                                    <input name="account" value="test@example.com" placeholder="请输入"
                                           class="layui-input" lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label layui-form-required">经营主体带贫名称:</label>
                                <div class="layui-input-block">
                                    <input name="trueName" placeholder="请输入" value="Alex" class="layui-input"
                                           lay-verType="tips" lay-verify="required" required/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">经营主体带贫带动方式:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">经营主体带贫带动增收:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">产业发展奖补:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">产业发展政策补助:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">农业实用技术培训时间:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">农业使用技术培训内容:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary" data-steps="prev"> 上 一 步&nbsp;
                                    </button>
                                    <button class="layui-btn" lay-filter="formStepSubmit3" lay-submit>&emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item">
                        <!-- 表单四 -->
                        <form class="layui-form" style="max-width: 460px;margin: 0 auto;padding: 40px 30px 0 0;">
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">易地搬迁补助:</label>
                                <div class="layui-input-block">
                                    <input name="account" value="test@example.com" placeholder="请输入"
                                           class="layui-input" lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">教育扶贫保障就读学校:</label>
                                <div class="layui-input-block">
                                    <input name="account" value="test@example.com" placeholder="请输入"
                                           class="layui-input" lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label layui-form-required">教育扶贫保障补助类型:</label>
                                <div class="layui-input-block">
                                    <input name="trueName" placeholder="请输入" value="Alex" class="layui-input"
                                           lay-verType="tips" lay-verify="required" required/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">教育扶贫保障补助金额:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">健康扶贫保障新农减免:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">健康扶贫保障合疗报销:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">生态扶贫保障公益林补偿:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">生态扶贫保障生态护林员:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">金融扶贫保障小额信贷及互助资金协会借款金额:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">金融扶贫保障发展产业类型及规模:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">社会保障养老保险年收入:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">社会保障高龄补贴年收入:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">社会保障残疾补助年收入:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">社会保障兜底保障类型:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label layui-form-required">社会保障兜底保障年收入:</label>
                                <div class="layui-input-block">
                                    <input name="money" placeholder="请输入" value="11" class="layui-input" 
                                           lay-verType="tips" lay-verify="required" required>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button type="button" class="layui-btn layui-btn-primary" data-steps="prev"> 上 一 步&nbsp;
                                    </button>
                                    <button class="layui-btn" lay-filter="formStepSubmit2" lay-submit>&emsp;确定保存&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-tab-item text-center" style="padding-top: 40px;">
                        <!-- 表单五 -->
                        <i class="layui-icon layui-icon-ok layui-circle"
                           style="background: #52C41A;color: #fff;font-size:30px;font-weight:bold;padding: 20px;line-height: 80px;"></i>
                        <div style="font-size: 24px;color: #333;margin-top: 30px;">添加成功</div>
                        
                        <div style="text-align: center;margin: 50px 0 25px 0;">
                            <button class="layui-btn" data-steps="next">继续添加</button>
                         
                        </div>
                    </div>
                </div>
            </div>
            <!-- //分布表单结束 -->
            

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'steps','jquery'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var steps = layui.steps;
        var jquery = layui.jquery;
        var setter = layui.setter;
        
        form.render('select', 'formStepForm1');

    
        /* 表单一提交事件 */
        form.on('submit(formStepSubmit1)', function (data) {
            steps.next('formStepsStep');
            return false;
        });

        /* 表单二提交事件 */
        form.on('submit(formStepSubmit2)', function (data) {
            steps.next('formStepsStep');
            return false;
        });
         /* 表单三提交事件 */
         form.on('submit(formStepSubmit3)', function (data) {
            steps.next('formStepsStep');
            return false;
        });
        /* 表单四提交事件 */
        form.on('submit(formStepSubmit4)', function (data) {
            steps.next('formStepsStep');
            return false;
        });
         /* 表单五提交事件 */
         form.on('submit(formStepSubmit5)', function (data) {
            steps.next('formStepsStep');
            return false;
        });
        //监听市下拉框
    layer.ready(function(){
        $.get("http://192.168.1.91:8110/region/est/district/selectDistrictList?cityId=1",function (data) {
            debugger;
            var $html = "";
            if(data.data != null) {
                $.each(data.data, function (index, item) {
                    $html += "<option value='" + item.did + "'>" + item.district + "</option>";
                });
                $("#roleId").append($html);
            }
            form.render('select');
        });

    });
//监听乡镇下拉框
  
  form.on('select(roleId)', function(dataObj){
    //移除城市下拉框所有选项
    $("#account").empty();
    var accountHtml = '<option value="">请选择或搜索市</option>';
    $("#account").html(accountHtml);
    var resettlementPointHtml = '<option value="">请选择或搜索县/区</option>';
    $("#resettlementPoint").html(resettlementPointHtml);
    roleIdText = $("#roleId").find("option:selected").text();
    var value = $("#roleId").val();
    //异步加载下拉框数据
    
    $.ajax({url:setter.baseServer + "region/est/township/select",data:{"disId":value},type:'get',success:function (data) {
        var $html = "";
        if(data.data != null) {
          $.each(data.data, function (index, item) {
            $html += "<option value='" + item.tid + "'>" + item.township + "</option>";
          });
          $("#account").append($html);
         
          form.render('select');
        }
    }});
  
  });
  
  //监听安置点
  form.on('select(account)', function(dataObj){
 
    $("#resettlementPoint").empty();
    var html = '<option value="">请选择或搜索县/区</option>';
    $("#resettlementPoint").html(html);
  
    accountText = $("#account").find("option:selected").text();
    var value = $("#account").val();
    debugger;
    $.ajax({url:setter.baseServer + "region/est/resettlement/selectList",data:{"towId":value},type: 'get',success:function (data) {
        var $html = "";
        if(data.data != null) {
          $.each(data.data, function (index, item) {
            $html += "<option value='" + item.townshipId + "'>" + item.resettlementPoint + "</option>";
          });
          $("#resettlementPoint").append($html);
          //append后必须从新渲染
          form.render('select');
        }
    //   }
  
    }});
  
});
  

 })
</script>
